{{!-- Form for adding new comment to blog --}}
<div class="col-sm-12 col-md-9 col-lg-6 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="blog d-flex flex-column">
      <div class="align-self-center">
        <h2 class="text-center titleSize">{{title}}</h2>
        <p class="text-justify">
          {{body}}
        </p>
      </div>
    </div>
  </div>

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>addNewComment( )</h3>
    </div>

    <div class="card-body textArea">
      <input type="hidden" name="blog_id" value="{{id}}" />

      <label class="form-label" for="comment-body">comment:</label>

      <textarea name="comment-body" rows="10" cols="50" class="form-input " id="comment-body"></textarea>
      <div class=" d-flex justify-content-center">
        <button id="comment-save" type="submit" class="btn btn-primary">addNewComment( )</button>
      </div>
    </div>
  </form>
</div>