{{!-- Form for adding new comment to blog --}}
<div>
  <div class="row d-flex justify-content-center">
    <div class="blog d-flex flex-column mb-3 w-50">
      <div class="align-self-center">
        <h2 class="text-center titleSize fs-1">{{title}}</h2>
        <p class="text-justify">
          {{body}}
        </p>
      </div>
    </div>
  </div>

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body textArea">
      <input type="hidden" name="blog_id" value="{{id}}" />

      <label class="form-label" for="comment-body">Comment:</label>

      <textarea name="comment-body" rows="10" cols="50" class="form-input " id="comment-body"></textarea>

      <button id="comment-save" type="submit" class="btn btn-primary">Save
        Comment</button>
    </div>
  </form>
</div>