<h1 class="title">const = hotBlogsForDevs => {</h1>
<hr />
<!-- Loop over each blog in the blogs array and display each blog -->
{{#each blogs as |blog|}}
<a href="/blogs/{{blog.id}}" class="no-style">
  <div class="row d-flex justify-content-center page blog-tile" style=style="background-color: black">
    <h2>{{blog.title}}</h2>
      <br />
    <p class="text-justify">
      {{blog.body}}
    </p>
  </div>
</a>
<br>
{{/each}}
<h1 class="title">};</h1>
<br />
