{{!-- Update existing Comment form --}}
<div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="post d-flex flex-column mb-3 w-50">
      <div class="align-self-center">
        <h2 class="text-center titleSize fs-1">updateComment( )</h2>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <form id="update-comment-form" class="form d-flex w-50">
      <div class="card-body">
        <input type="hidden" name="comment-id" id="comment-id" value="{{comment.id}}" data-id="{{comment.id}}"/>

        <div class="form-group">
          <label class="form-label" for="comment-body" style="font-weight: bold;" >Comment:</label>
          <textarea name="comment-body" rows="10" cols="50" class="form-input" id="comment-body" >{{comment.body}}</textarea>
        </div>

        <div class="form-group d-flex justify-content-center">
           <button id="comment-update" type="submit" class="btn btn-info me-3">updateComment( )</button>
            <a href="/profile" type="button" id="" class="btn btn-danger ms-3">Cancel</a>
        </div>
      </div>
    </form>
  </div>
