{{!-- For for updating existing Post --}}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-9 mx-auto">
    <h3 class="text-center titleSize">editYourBlogPost:</h3>

<div class="px-5 pt-3">
    <form class="form pb-5 px-5" id="update-blog-outline">

      <input type="hidden" id="blog-id" data-id="{{blog.id}}" value="{{blog.id}}"/>

      <div class="form-group">
        <label for="blog-title" style="font-weight: bold;">blogTitle:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" value="{{blog.title}}"/>
      </div>

      <div class="form-group">
        <label for="blog-body" style="font-weight: bold;">blogBody:</label>
        <textarea class="form-input" rows="20" cols="100" type="text" id="blog-body" name="blog-body" value="{{blog.body}}"/></textarea>
      </div>

      <div class="form-group d-flex justify-content-center">
        <p>
        <button type="submit" class="btn btn-info">updateBlog</button>
        <a href="/profile" type="button" id="" class="btn btn-danger">Cancel</a>
        </p>
      </div>
    </form>
    </div>
  </div>
</div>